label {
 font-size: 20px;
}
.form-control {
	font-size: 15px;
}
.button {
	background: rgba(56, 163, 46, 1);
	border: 0;
	border-radius: 3px;
	padding: 3px 6px;
	font-size: 15px;
	color: white;
	margin-left: 30px;
}
a, a:hover {
  color: black;
}
.jumbotron {
  text-align: center;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  background-color: rgba(202, 228, 219, 1);
  color: black;
  margin-bottom: 0;
  min-height: 100vh;
}
@media screen and (max-width: 645px) {
  .jumbotron {
    background-size: auto 100vh;
    background-attachment: scroll;
  }
}
header {
  background: rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  text-align: center;
  margin-top: -40px;
}
header p {
  font-family: 'Poiret One';
  font-size: 60px;
  padding-top: 10px;
}
.nav {
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  display: block;
}
.nav a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Poiret One';
  color: black;
  font-weight: 1000;
  font-size: 20px;
  line-height: 48px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
}
.nav a:hover {
  background: white;
}
.nav .icon {
    display: none;
    padding: 0 15px 0 15px;
}

@media screen and (max-width: 645px) {
  .nav a {
      display: none;
    }
    .nav {
      padding: 0;
    }
    .nav a.icon {
      float: right;
      display: block;
    }
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.icon {
    position:absolute;
    right:0;
    top:0;
  }
  .nav.responsive a {
    float:none;
    display: block;
    text-align: left;
  }
}

.container {
  background: rgba(255, 255, 255, 0.6);
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px 40px 20px 40px;
  font-family: 'Poiret One';
  font-size: 24px;
  text-align: left;
  line-height: 30px;
}
@media screen and (max-width: 645px) {
  .container {
    width: 95%;
  }
}
  h1 {
    font-family: 'Poiret One';
    font-size: 60px;
    padding-top: 10px;
    font-weight: bold;
  }
.intro {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  margin-bottom: -60px;
}
.footer .fa {
    padding: 5px;
    margin: 10px;
    font-size: 32px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  border: solid 2px rgba(255, 255, 255, 0.7);
}
.footer .fa:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}
.fa-facebook:hover {
  background: rgba(59,89,152,1);
  border: solid 2px rgba(59,89,152,1);
}
.fa-instagram:hover {
  background: rgba(228,64,95,1);
  border: solid 2px rgba(228,64,95,1);
}
.fa-twitter:hover {
  background: rgba(0, 172, 237,1);
  border: solid 2px rgba(0, 172, 237,1);
}
